.header-0{
    padding-top: 110px;
    height: 455px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d68800;
    background-image: url(http://www.transparenttextures.com/patterns/asfalt-light.png);
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
   }
#heading{
    margin: 10px;
    color: white;
}