.text-area > textarea{
    border: none;
    border-bottom: 3px solid #545149;
    background-color: #f4f1ec; 
    width: 100%;
}
.button-output{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#button{
    background-color: #4056A1;
    color: white;
    font-family: "Bungee";
}
#button+.counter{
    font-family: "Bungee";
    color: #545149;
}
article{
    margin:1em 0 ;
    padding: 1em;
    border: 3px solid #545149;
    font-family: sans-serif;
}
article:hover{
    box-shadow: 10px 10px 5px 12px grey;
}
article footer, article header div, article header{
    display: flex;
    flex: row;
    justify-content: space-between;
    font-size:medium;
}
article p{
    font-size: large;
}
article hr{
    border: 2px solid #545149;
}
article footer i{
    color: #4056A1;
}
article footer i:hover{
    color: rgb(172, 148, 13);
}
#user-email{
    color: #c9d1ec;
}